.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bcon/bcon_enum.h
bcon/bcon_enum_str.h
bcon/bcon_indirection.h
bcon/bcon_sub_symbols.h
bcon/bcon_gen_macros.h
bcon/bcon_union.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libbcon.la
libbcon_la-*
libtool
ltmain.sh
missing
stamp-h1
test-bcon
test-driver
*.log
*.trs
*.o
